.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  box-shadow: 1px, gray;
}

h1 {
  color: #00556e;
  margin-bottom: 50px !important;
}

#hearticon{
  width: 20%;
    height: auto;
}

#title{
  /* margin: 20px; */
    font-family: "Paytone One";
    color: #0e010e;
    text-transform: uppercase;
    letter-spacing: -2px;
}

#titlespan{
  text-align: center;
  display: block;
  margin: 11px 0 17px 0;
  font-size: 90px;
  line-height: 80px;
  color: #e8a0e8;
  text-shadow: 0 10.36px 8.896px #d89fc8, 0 -2px 1px #fff;
  letter-spacing: -4px;
}